01bootloader
06mysqld
10network
15sound
30pcmcia
40xlock
91laptop-mode
92disk
pm-has-power-policy
pm-hibernate.app
pm-hibernate.pam
pm-powersave.app
pm-powersave.pam
pm-quirks-20100619.tar.gz
pm-suspend.app
pm-suspend-hybrid.app
pm-suspend-hybrid.pam
pm-suspend.pam
pm-utils-1.4.1.tar.gz
power-policy.conf
